// impoto bootstrap
@import '~bootstrap/scss/bootstrap';

// importo il font 
@import '~@fontsource/roboto/700.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Importo  il file con le variabili
@import './vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $main-font;
    background-color: $primo;
}